.savingTips {
  position: relative;
  width: 100%;
}

.savingTips img {
  position: absolute;
  bottom: 10%;
  left: 0;
}
.savingTips__container {
  width: 66.67%;
  margin: 0 auto;
}

.savingTips__textWrapper {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.savingTips__heading {
  font-family: "Inter", sans-serif;
  font-size: 2.25rem;
  line-height: 2.625rem;
  font-weight: bold;
  letter-spacing: 0.33px;
  color: #99efd0;
}

.savingTips__heading span {
  color: #f2994a;
}

.savingTips__subtextWrapper {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
  margin: 2rem auto;
  text-align: center;
  width: 70%;
  color: #8476aa;
  letter-spacing: 0.2px;
  line-height: 1.25rem;
}

.savingTips__topics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.savingTips__topics .topic {
  flex: 0.29;
  font-family: "Rubik", sans-serif;
}

.topic_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}

.topic p,
.topic_middle p {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 2.525rem;
  color: #99efd0;
  letter-spacing: 0.33px;
}

.topic span,
.topic_middle span {
  font-size: 0.9375rem;
  color: #8476aa;
  letter-spacing: 0.2px;
  line-height: 1.25rem;
}

@media only screen and (min-width: 1440px) {
  .savingTips__container {
    width: 100%;
  }
  .savingTips__topics {
    width: 65%;
  }
}

@media only screen and (max-width: 1280px) {
  .savingTips__container {
    width: 100%;
  }
  .savingTips__topics {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .savingTips__container {
    width: 75%;
  }

  .savingTips__textWrapper {
    width: 80%;
  }

  .savingTips__subtextWrapper {
    width: 75%;
  }

  .savingTips__topics .topic {
    flex: 0.3;
  }

  .savingTips__topics {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .savingTips__container {
    width: 80%;
  }

  .savingTips__textWrapper {
    width: 100%;
  }

  .savingTips__subtextWrapper {
    width: 80%;
  }

  .savingTips__topics .topic {
    flex: 0.4;
  }
}


@media only screen and (max-width: 600px) {
  .savingTips__container {
    width: 100%;
  }

  .savingTips__textWrapper {
    width: 100%;
  }

  .savingTips__subtextWrapper {
    width: 80%;
  }

  .savingTips__topics .topic {
    flex: 0.4;
  }

  .savingTips__heading {
    font-size: 1rem;
    line-height: 2rem;
  }

  .savingTips__subtextWrapper {
    font-size: 0.65rem;
    width: 90%;
    margin-top: 1rem;
  }

  .savingTips__topics {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .savingTips__topics .topic {
    flex: 0;
    margin-bottom: 2rem;
  }

  .topic_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .topic p,
  .topic_middle p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .topic span,
  .topic_middle span {
    font-size: 0.9rem;
  }

  .savingTips img {
    position: absolute;
    bottom: 10%;
    width: 50%;
    left: 0;
  }
}
